button {
    all: unset;
    cursor: pointer;
}

img {
    width: 12vw;
    height: 20vw;
    padding: 2vw;
    /* object-fit: cover; */
}

input[type=radio] {
    /* position: absolute;
    opacity: 0;
    width: 0;
    height: 0; */
}

input[type=radio]+img {
    cursor: pointer;
}

img:hover {
    opacity: 0.6;
    cursor: pointer;
}

img:active {
    opacity: 0.4;
    cursor: pointer;
}

input[type=radio]:checked+label>img {
    border: 10px solid rgb(228, 207, 94);
}